body{

    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    margin: 0;
    background-repeat: no-repeat;
    width: 100%;
    padding: 100px 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed; 
    
}
#banner{
    background-color: rgba(66, 66, 66, 0.4);
    height: 89px;
    width: 100%;
    padding: 30px 70px 30px 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    margin:0;
    position: absolute;
    top: 0;
    overflow: hidden;
    

}

#banner h1 {
    float: left;
    
    


}
 
#banner nav {
    float: right;
    
    
}
 
#banner ul {
    margin: 0;
    display: inline;
    
}
 
#banner nav ul li {
    display: inline-block;
    width: 100px;
    text-align: center;
    

}
 
#banner nav ul li a {
    color: black;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    position: relative;
    
}

.container {

    width: 100vw;
    background-color: rgba(255, 255, 255, 0.4);
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-repeat: no-repeat;
    background-position:  center;

}

.container h2{

    padding: 15px;
    text-align: center;
}

.container p{

    position: relative;
    
    text-align: center;
}

.box{

    width: 300px;
    height: 100%;
    
}





footer {
    
    text-align: center;
    position: relative;
    top: 380px;
    width: 100%;
    margin: 0;
    background: rgb(0, 0, 0, 0.4);
    
}

footer p{

    margin: 0;
    padding: 25px;
    color: rgb(0, 0, 0);
    text-shadow: #414549;

}

.funcao a{

    
    position: relative;
    float: right;
    
}