body {

    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    margin: 0;
    background-repeat: no-repeat;
    width: 100%;
    padding: 100px 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed; 

}


#nomeHome h1{   

    text-align: center;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    color: #414549;
    
    padding: 20px;
    margin-bottom: 40px;
    
}

footer {
    
    text-align: center;
    
    position: relative;
    top: 380px;
    width: 100%;
    margin: 0;
    background: rgb(0, 0, 0, 0.4);
    

    

}

footer p{

    margin: 0;
    padding: 25px;
    color: rgb(0, 0, 0);
    text-shadow: #414549;
}


.card{
    text-align: center;
    padding: 8px;
    margin: 15px;
    background: rgb(0, 0, 0, 0.4);
}

.card-title{
    color: rgb(0, 0, 0);
}
.card-text{
    color: rgb(0, 0, 0);
}

.btn btn-outline-dark{
    text-decoration: none;
    color: black;
}
.card1{

    flex-grow: 2;
    max-width: 900px;
    max-height: 600px;
	margin: 0 auto;
    display: flex;

    
}

.card-img-top{

    background: no-repeat;
}

.card2 {

    flex-grow: 2;
    max-width: 600px;
	margin: 0 auto;
    display: flex;
    align-content: center;


}